html(lang="en")
  head
    title= title
    link(rel="stylesheet", href="/bootstrap/css/bootstrap.css")
    link(rel="stylesheet", href="/fontawesome/css/all.min.css")
    link(rel="stylesheet", href="/custom/css/main.css")
    link(rel="stylesheet", href="/custom/css/tree.css")
    link(rel="icon", href="/favicon.ico")

    link(rel='stylesheet' href='https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css')
    
    script(src='https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js')
    script(src='https://cdn.jsdelivr.net/npm/marked/marked.min.js')
    
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')

  body
    include nav.pug
    if message
      #exampleModal.modal.fade(tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
        .modal-dialog
          .modal-content
            .modal-header
              h5#exampleModalLabel.modal-title Modal title
              button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
            .modal-body
              | ...
            .modal-footer
              button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Close
              button.btn.btn-primary(type='button') Save changes


      .script
        let myModal = new bootstrap.Modal(document.getElementById('messagealert'), {});
        myModal.show()
      .alert.alert-dismissible.mt-2.me-2.ms-2(class="alert-"+message.type)
        button.btn-close(type='button' data-bs-dismiss='alert')
        strong=message.header
        p=message.body
      div.container.mt-2
    block content
    //- footer.footer.mt-auto.py-3.bg-light
    //-   .container
    //-     center
    //-       span.text-muted footer text


    //- script(src='/bootstrap/js/jquery-3.6.0.slim.min')
    //- script(src='/bootstrap/js/popper.min.js')
    //- script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js' crossorigin='anonymous')
    //- script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js' crossorigin='anonymous')
    script(src='/bootstrap/js/bootstrap.bundle.min.js')
    script(src='/custom/js/markdown.js')
    script(src='/custom/js/requests.js')
    