mixin msg(body,type)
	.alert.alert-dismissible.fade.show(role='alert' class= "alert-" + type)
		strong=body
		button.close(type='button' data-dismiss='alert' aria-label='Close')
			span(aria-hidden='true') &times;
