nav.navbar.navbar-expand-lg.navbar-light.bg-light
		a.navbar-brand(href='/') 
			strong sub
			| groups
		button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
			span.navbar-toggler-icon
		#navbarSupportedContent.collapse.navbar-collapse
			ul.navbar-nav
				if groupdropdown
					li.nav-item.dropdown
					
					if (groupdropdown.subgroups.length > 0)
						a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
							=groupdropdown.groupname
						.dropdown-menu(aria-labelledby='navbarDropdown')
								for subgroup in groupdropdown.subgroups
									a.dropdown-item(href=`/sub/${subgroup.name}`)=subgroup.name
					else
						nav.item= groupdropdown.groupname
					
				
		.my-2.my-lg-0
			if is_authenticated
				a.btn.btn-primary.my-2.my-sm-0(href='/user/profile') Profile
				| 
				a.btn.btn-primary.my-2.my-sm-0(href='/post/new') New Post
				| 
				
				a.btn.btn-outline-primary.my-2.my-sm-0(href='/logout') Logout
			else
				a.btn.btn-primary.my-2.my-sm-0(href='/login') Login
				| 
				a.btn.btn-outline-primary.my-2.my-sm-0(href='/signup') Sign Up