.bordered-black:hover {
  border: 1px solid #000;
}
.vote-arrow {
  color: black;
}
.bg-black {
  background-color: black !important;
}
.bordered-black {
  border: 1px solid #fff;
}

.card {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
