body {
	background-color: #eee;
}

/* .profile-photo-pen {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
} */

img {
	position: relative;
}

.profile-photo:hover {
	opacity: 0.5;
	cursor: pointer;
}

.height-responsive {
	height: 100% !important;
}

.bordered:hover {
	border-color: black;
}

.button-to-the-top .btn {
	z-index: 2;
	position: relative;
}

.upvoted {
	fill: green;
}

.downvoted {
	fill: red;
}

.vote_buttons_no_focus:focus {
	outline: none;
	box-shadow: none;
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a:active {
	text-decoration: none;
}

.navbreadcrumb li {
	display: inline-block;
}

.navbreadcrumb li+li:before {
	content: '\f061';
	display: inline-block;
	font-family: 'fontAwesome';
	padding: 0 10px;
}

.overflowhidden {
	overflow: hidden;
}

.fixedcardsize {
	height: 120px;
}

.bannercard {
	height: 150px;
}

.alert-fixed {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%-10px;
	z-index: 9999;
	border-radius: 0px
}

.thumbnailbanner {
	height: 100px;
}

.fixedcardsizefrontpagerow {
	height: 250px;
}

.fixedcardsize400 {
	height: 320px;
}

/* register and login pages */
.zoominresponsive {
	height: 210px;
	/* height: 100%; */
	/* background-image: url('https://placeimg.com/1000/450/nature'); */
	/* background-position: center center;
	background-size: cover; */
}

.login-container {
	background: #007bff;
	background: linear-gradient(to right, #570279, #33AEFF);
}

.icon-big {
	font-size: 15em;
}

.card-img-left-register {
	width: 45%;
	/* Link to your background image using in the property below! */
	background: scroll center url('/assets/svgs/undraw_sunlight_re_0usx.svg');
	background-size: cover;
}

.card-img-left-register-login {
	width: 45%;
	/* Link to your background image using in the property below! */
	background: scroll center url('/assets/svgs/undraw_innovative_re_rr5i.svg');
	background-size: cover;
}

.btn-login {
	font-size: 0.9rem;
	letter-spacing: 0.05rem;
	padding: 0.75rem 1rem;
}

/**
profile photo image
*/
.ppimage:hover {
	opacity: 0.5;
}


/* body {
	background: linear-gradient(to bottom, #0066ff 0%, #993366 100%);
} */

/* body {
	background: #000046;
	/* fallback for old browsers */
/* background: -webkit-linear-gradient(to right, #1CB5E0, #000046); */
/* Chrome 10-25, Safari 5.1-6 */
/* background: linear-gradient(to right, #1CB5E0, #000046); */
/* W3C, IE 10+/Safari Edge, Firefox 16+, Chrome 26+, Opera 12+,  7+ */

/* } */

/* */
/* .row {
	http: //localhost:8080/
} */