extends ../../base.pug
include ./thumbmixin.pug

block content
	p do you really want to delete post below
	form(method="post")
		input.btn.btn-danger(type="submit", value="yes delete it")
	
	+thumbnail(post)

