extends ../../base.pug

block content
	form(method='POST').form-group
		label(for='header') Header
		input.form-control(name='postheader' type='input' maxlength='32').form-group
		label(for='post-body') Post
		textarea#post-body.form-control(name='postbody' rows='10')
		br
		p Your post will be published at 
			strong= sub
		
		input.btn.btn-success(type='submit')