center
  svg(viewbox='-0.5 -0.5 777 1701' content='<mxfile host="app.diagrams.net" modified="2022-04-12T09:50:10.352Z" agent="5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/100.0.4896.75 Safari/537.36" etag="3oW0WB864XtDmKZLGmEr" version="17.4.3" type="device"><diagram id="6a731a19-8d31-9384-78a2-239565b7b9f0" name="Page-1">7V1bk9q4Ev41PEJJvvtxmOxkU5vdTWVO9lSdl5TBAlQYm/VlMjO//ki2ZGxJBgMywySQqgyWLVvu7+tWd+vCyLzfPH9Mg+3qzyRE0cgA4fPI/DAyDAua5H9a8FIVOAasCpYpDquiRsEjfkWsELDSAocoa12YJ0mU4227cJ7EMZrnrbIgTZMf7csWSdR+6jZYIqngcR5Ecul/cZivqlLPcHflvyO8XPEnQ8evzsyC+XqZJkXMnhcnMarObAJ+G/aO2SoIkx+NIvO3kXmfJklefds836OISpVLrKr30HG2bnKK4rxPBd9lbX4KooK9N2tZ/sIF8WOFc/S4Deb0+AfBemROV/kmIkeQfM3yNFmj+yRKUlJSvqw5XeAo4kUjw6w+tDyJ84dggyNKin9QGgZxwIoZAwyLHTeqP5QfUh5EeBmTsjl5P0ROTuUXZjJ4QmmOnhtFTAAfUbJBefpCLmFnPduqqjCemuwOP3agu65Tla2agLuAoRgwpi3re+9ETr4wqXcg4IHDCJAqhPVUrgewOCxe6Mji/VB+ekJJNID80yR632mJ3nBl2Zs2kGVfF54nengTPRe961gXFb1xEz0XPTRs56KyN39d2UMixLbwAfc3LiR86yb8Wvg29C4qe1uS/TIttlGQksIkKkb39sh/yIu0iCVMyCvmbeGnKMOvway8AJDjbYLjvGyePR3ZVL5BkScZw6HhvERoQW9F5YaJu3nHivOEopsRsHG8/A89+DC2RmrfqAN0FchldfYeCv/waBB9y5v4zU/befJkU2YoEdUCqCMBShrvBBsqyXiWbWveXhuSEIDeUD5AzwPeAFB6blsdTeBL4EGoAA8aWtBzJfRkW3hDq7ae0G8HKrYqUrEGQ8uT0DJvaO3RLbsFluvLujUgWHJYb93A2qda7W4MAuOScPlyDsC+wbVHt9qGkARQl7SEvipt4ERUoiF+aoHm/FvQVN40wjEa85bckUvKlti7C8i3Jftb3oiKTM+dyia1iwjC8Xk3/4rCgsQkRCi0lXlCES1SFFGQ8hU9gbKMAIwDKjn+XCLZ6tHt5sxSdQOrMhwvknQT5DiJJ0ffiFyoeH9SWsl3/8Vq/XsLpeNB3GGd88pP20xocfrb9tFy5cDN8BSeoqVF4VTJIgZ5b8WhJ8YVLJTZLtg+y7x+/Db9+PXvb18eD1Nl1kmUc/PlvOhgcO8CmQBh+ZFpp8PschewdmlkowsUHOBcOY8DqqSVbC3+unv89Jlc9se3z5/v/vr0+dPXTptxjd2raR+v6TqQ5RrGO1THlKBV5mX0qLcqJXZsf2qrO6rl6N4cTZ04RCmOUFoK6iUKqkzP6N4aTWF8nP2/ZYCgIcQ2DpDHDgbsDeQsnsLXEYDHNMNHgH+5YT5A1q8OdpsEcIfK+vly1k+fvWD5YMaS8s/rAc5oejSmjL1zCVczTGgr5zHl3q7OXu91iwdqr6pBYhL9qHbddK+nvYUQGLK+qfrnOnt7nsLJiVptLJqxvngdjOhEoJLPwcDMXQd5pdLRrTcYoDeApqHwBwxVZKCFnXJi+qVYcxseBmtcpiCmFEu8WRLE6HQswCiwJj4BYdxaziEQMs6KuHgtRu3BwWCGI5ySu+DX62SIasy3jhY6mKOFFEKOgHf2TRb4g3mFqolsklcYBitqZ7IkTpm9KSEuv2PiKqJ1D9NTFWXByyLgHkJYJtTOuZ0cqKyDCG3oK1bMI9Dke5l7wiPedyz0RjyXwx8+kNmMllXDpp4GokMA3mv6+Qm9UM2YIco1/wHFGxTiNQ3OiCmlRppRMajOV4ykxldhnHuT/rD2UOO+yYrX3rfsE0feEs16OhHfkXVLmVpw9OiWnGne0XVHVsqjho/RwdE+1HuppIOvdMLRlbgSPpRTzbXboNuVICyQc81rCn+ji6fBLZAidvBSAi0bq4POZxn6yDVvfucp4bEBL2s05Px1Xrpa95tdTFv3FyDCWY4qGlRXZXmOaJAigj8jAMWVZ1lwN61FAkAoWdmmVK69i6XBLt5lZEP5mniA1R3xJlRQljifdYtvXOs0TNCyemZiNPl+qkyMgA+xVHd0+RM5Ssh1oz2Dj0RoTvnZ3+33mUtMnvqAo5oRdPUTCtkROcdu4ZRNCNJcaGFZ1qhfNZMvuyKATDfkylmEFIyrnpcHeeM4RBFqHhNHs3nIlow1Sjq5gcLWKjGZGQ3gVbjzshRFQY6fUOvmKjKwJ3yhOtQwcvXqMj74ym0cv0eWFOkcsWo7Tsl3Mqz28gPLFMZnCRZLlEt3IpAFL43LmJZ3NxnwRR5CkztbJlawjQMVxFcRKpAvVaN32lUD11fh5OTS1SkcOFPhaP0wyFZ1dVn76OkvAemn0ri8hsR9ZylNjbgw8GxZ8rySfVp1hAIBPm2LR+18jPtoBRLvZPPZlgcU6DQC9lig2SAgmztyxQRkLRQJqOZcfcPBCGgLSUtLTl1rIiAE7UfZpnOqBRdWrNrQGsaCQ77YWWhyZ8ugMDPzYAXpVdoVNFhwnoi7Zgv+i7lMO+UTHARHnsarSfnqgQeeUeATrI9XPigunBWcOV3KZ5qussmdLRMreGwYrverCBV0KF+fFda33utkBXIEV3643ss02r2X5wtRQ28Fku5kDug+QeNGwOEI6ANhJTtQzATU5b8LixUhtK0TGQgtS2i2MVQILDaaP0mjie2zmv/m3/yUKaH2fHxoiLO9jsgJtVPo9b5A+nNCUN3mPUkhoQYwD/hB4suINXQoXZ9dHG5K9zZBhcgwxe4quqIKTxwOECc4HxFWiINYtpAe0BdXOOpG7wkshBomG4/t/zZCDR0qqFoGcGUq+I4zs6YhblI0nGtnGgJbLHBqaky6lWkJgb7W6EK1EkHgIN0JcNuJhzT0WO9nyIziqLkxoHr4m8c4fBcPW86h8zixNfgtyPi0EUnYZ0Sy935Gp6yCPGKLo6aSy6qkAGmH8OEh4suIu8941Cni1mj/lAtczxQu31S0xXSFQfIUBknD8lOIl5tvH8ZwOv20QH971u/gf8V4N3iwD41sFWzpV7wp9xttyl8974GXfg5mKPqSZJgufSdnZ0meJxtyQURPTOtNRhsQLMoPuaR82F22rfZFpd1IwA8W+Jl2J1PWng+rPKcbqt5RWRgP8zC2JpiYoAWd0ZRO5uSJxkNInDryh5Zn9G8S8682NT7lifE2KrJx2aIxcYwm23jZaeJUNOhOMrQwlyeCWQrMLR2YA9gD3sHNO/TaKQTHk9fmDmdvjD6jJ+/YvPsdOL2ReTf65MvfjXnvL9zrNO9OD/K/O/MOD5p3CMB4FmR4Pl4k6bjIUDrGdLvlBSWa8WBSuRrueIviYw29v9/UCVlZxYa0CvzF2UsnKp5xBaZe9OQ9/6KmXuu2sFdn6muEr8XUa90I9o1N/RHCvVJT30P/352pP9WTL389YVxsx/MjDXwltJ6YQ2si7xrBpzC0LLw7HOw9bN6vDDvL6FftH0MP8OdOm79xwQxDdSJJQyRY/cYLgvJTW5FzGSUlDi9JKWD0SEFfPD6E0JVXvwzYjfVIgb5nr8HuAOqtvIah0q1v4jX0F+5bew31DJGrChCg6ctjmwOSr89c9Hes614HUG+k6+ZQubc30fX+wn1rXe9wFXvEawc9v2yN8vmKeXTd6NQ/uqEUr9rrLMf9UfrbE6rWXjbXWdY/l8V92c3zkv5m22SOs3nyPQsWaLJFyTZC37cRYVD2PV/heJl9L73E0p2EMgmO9uW8A9Zt4rmg8RHncUgMsMCEdyGt5L+hQ/tsndqnGMQXQG2bqH2cOFNj+/dPe5AS531Cxe72CmRsLcDozJH/bMAY4pRAIKcQBwOmRw7l1wVGmveomJU2FDA6M7s/GTDSLz+oOprBgOnhU/Aue4WegyX1JqZblGLysDLLwkq/7IoO4Sd5yYKz0YWbHh89xCkJeCqvKEsK+iRNPZKoX7yg+VtGChyhlujQ7pEJugHZC0gozTu8KJB90llHrRfah4rOeaadwr+W5QrSLy9C/9QV+ORWE8P0fdO2oWGZpjh1GsAJtF0PuJZhuCbfVWKIGaD2cRuy3PhyBF+A1DP7p/JFupXhDsiJ4/YMuXHiCE6Ykht96iJAQ1gtDaUeRCsntG/jceNE3Y1I5t84lROyF9lvEc5hTpDDNKE7pO4upxm4P5MQ0Sv+Dw==</diagram></mxfile>' style='background-color: rgb(255, 255, 255);')
    defs
    g
      rect(x='0' y='0' width='776' height='1700' fill='#333333' stroke='none' pointer-events='all')
      ellipse(cx='217' cy='415' rx='175' ry='175' fill='#282828' stroke='none' pointer-events='all')
      ellipse(cx='217' cy='908' rx='175' ry='175' fill='#282828' stroke='none' pointer-events='all')
      ellipse(cx='217' cy='1400' rx='175' ry='175' fill='#282828' stroke='none' pointer-events='all')
      ellipse(cx='544' cy='1154' rx='175' ry='175' fill='#282828' stroke='none' pointer-events='all')
      ellipse(cx='544' cy='662' rx='175' ry='175' fill='#282828' stroke='none' pointer-events='all')
      rect(x='95' y='355' width='250' height='30' fill='none' stroke='none' pointer-events='all')
      g(transform='translate(-0.5 -0.5)')
        switch
          foreignobject(pointer-events='none' width='100%' height='100%' requiredfeatures='http://www.w3.org/TR/SVG11/feature#Extensibility' style='overflow: visible; text-align: left;')
            div(xmlns='http://www.w3.org/1999/xhtml' style='display: flex; align-items: unsafe flex-start; justify-content: unsafe flex-start; width: 1px; height: 1px; padding-top: 358px; margin-left: 97px;')
              div(data-drawio-colors='color: #DDDDDD; ' style='box-sizing: border-box; font-size: 0px; text-align: left;')
                div(style='display: inline-block; font-size: 24px; font-family: Verdana; color: rgb(221, 221, 221); line-height: 1.2; pointer-events: all; font-weight: bold; white-space: nowrap;')
                  | gruplar olu&scedil;turun
          text(x='97' y='382' fill='#DDDDDD' font-family='Verdana' font-size='24px' font-weight='bold') gruplar olu&scedil;turun
      rect(x='19' y='278' width='110' height='120' fill='none' stroke='none' pointer-events='all')
      g(transform='translate(-0.5 -0.5)')
        switch
          foreignobject(pointer-events='none' width='100%' height='100%' requiredfeatures='http://www.w3.org/TR/SVG11/feature#Extensibility' style='overflow: visible; text-align: left;')
            div(xmlns='http://www.w3.org/1999/xhtml' style='display: flex; align-items: unsafe flex-start; justify-content: unsafe flex-start; width: 1px; height: 1px; padding-top: 281px; margin-left: 21px;')
              div(data-drawio-colors='color: #F18808; ' style='box-sizing: border-box; font-size: 0px; text-align: left;')
                div(style='display: inline-block; font-size: 100px; font-family: Verdana; color: rgb(241, 136, 8); line-height: 1.2; pointer-events: all; font-weight: bold; white-space: nowrap;')
                  | 1
          text(x='21' y='381' fill='#F18808' font-family='Verdana' font-size='100px' font-weight='bold') 1&nbsp;
      rect(x='340' y='500' width='74' height='120' fill='none' stroke='none' pointer-events='all')
      g(transform='translate(-0.5 -0.5)')
        switch
          foreignobject(pointer-events='none' width='100%' height='100%' requiredfeatures='http://www.w3.org/TR/SVG11/feature#Extensibility' style='overflow: visible; text-align: left;')
            div(xmlns='http://www.w3.org/1999/xhtml' style='display: flex; align-items: unsafe flex-start; justify-content: unsafe flex-start; width: 1px; height: 1px; padding-top: 503px; margin-left: 342px;')
              div(data-drawio-colors='color: #F18808; ' style='box-sizing: border-box; font-size: 0px; text-align: left;')
                div(style='display: inline-block; font-size: 100px; font-family: Verdana; color: rgb(241, 136, 8); line-height: 1.2; pointer-events: all; font-weight: bold; white-space: nowrap;')
                  | 2
          text(x='342' y='603' fill='#F18808' font-family='Verdana' font-size='100px' font-weight='bold') 2
      rect(x='21' y='768' width='74' height='120' fill='none' stroke='none' pointer-events='all')
      g(transform='translate(-0.5 -0.5)')
        switch
          foreignobject(pointer-events='none' width='100%' height='100%' requiredfeatures='http://www.w3.org/TR/SVG11/feature#Extensibility' style='overflow: visible; text-align: left;')
            div(xmlns='http://www.w3.org/1999/xhtml' style='display: flex; align-items: unsafe flex-start; justify-content: unsafe flex-start; width: 1px; height: 1px; padding-top: 771px; margin-left: 23px;')
              div(data-drawio-colors='color: #F18808; ' style='box-sizing: border-box; font-size: 0px; text-align: left;')
                div(style='display: inline-block; font-size: 100px; font-family: Verdana; color: rgb(241, 136, 8); line-height: 1.2; pointer-events: all; font-weight: bold; white-space: nowrap;')
                  | 3
          text(x='23' y='871' fill='#F18808' font-family='Verdana' font-size='100px' font-weight='bold') 3
      rect(x='345' y='998' width='74' height='120' fill='none' stroke='none' pointer-events='all')
      g(transform='translate(-0.5 -0.5)')
        switch
          foreignobject(pointer-events='none' width='100%' height='100%' requiredfeatures='http://www.w3.org/TR/SVG11/feature#Extensibility' style='overflow: visible; text-align: left;')
            div(xmlns='http://www.w3.org/1999/xhtml' style='display: flex; align-items: unsafe flex-start; justify-content: unsafe flex-start; width: 1px; height: 1px; padding-top: 1001px; margin-left: 347px;')
              div(data-drawio-colors='color: #F18808; ' style='box-sizing: border-box; font-size: 0px; text-align: left;')
                div(style='display: inline-block; font-size: 100px; font-family: Verdana; color: rgb(241, 136, 8); line-height: 1.2; pointer-events: all; font-weight: bold; white-space: nowrap;')
                  | 4
          text(x='347' y='1101' fill='#F18808' font-family='Verdana' font-size='100px' font-weight='bold') 4
      rect(x='20' y='1220' width='74' height='120' fill='none' stroke='none' pointer-events='all')
      g(transform='translate(-0.5 -0.5)')
        switch
          foreignobject(pointer-events='none' width='100%' height='100%' requiredfeatures='http://www.w3.org/TR/SVG11/feature#Extensibility' style='overflow: visible; text-align: left;')
            div(xmlns='http://www.w3.org/1999/xhtml' style='display: flex; align-items: unsafe flex-start; justify-content: unsafe flex-start; width: 1px; height: 1px; padding-top: 1223px; margin-left: 22px;')
              div(data-drawio-colors='color: #F18808; ' style='box-sizing: border-box; font-size: 0px; text-align: left;')
                div(style='display: inline-block; font-size: 100px; font-family: Verdana; color: rgb(241, 136, 8); line-height: 1.2; pointer-events: all; font-weight: bold; white-space: nowrap;')
                  | 5
          text(x='22' y='1323' fill='#F18808' font-family='Verdana' font-size='100px' font-weight='bold') 5
      rect(x='95' y='447' width='280' height='40' fill='none' stroke='none' pointer-events='all')
      g(transform='translate(-0.5 -0.5)')
        switch
          foreignobject(pointer-events='none' width='100%' height='100%' requiredfeatures='http://www.w3.org/TR/SVG11/feature#Extensibility' style='overflow: visible; text-align: left;')
            div(xmlns='http://www.w3.org/1999/xhtml' style='display: flex; align-items: unsafe flex-start; justify-content: unsafe flex-start; width: 1px; height: 1px; padding-top: 450px; margin-left: 97px;')
              div(data-drawio-colors='color: #888888; ' style='box-sizing: border-box; font-size: 0px; text-align: left;')
                div(style='display: inline-block; font-size: 16px; font-family: Verdana; color: rgb(136, 136, 136); line-height: 1.2; pointer-events: all; white-space: nowrap;')
                  div(style='line-height: 120%')
                    font(style='line-height: 120%')
                      div
                        span(style='line-height: 120%')
                          | Reduce it to purely the essential
                        br
                        span information.
                        br
          text(x='97' y='466' fill='#888888' font-family='Verdana' font-size='16px')
            | Reduce it to
            | purely the essential...
      rect(x='34' y='48' width='700' height='78' fill='none' stroke='none' pointer-events='all')
      g(transform='translate(-0.5 -0.5)')
        switch
          foreignobject(pointer-events='none' width='100%' height='100%' requiredfeatures='http://www.w3.org/TR/SVG11/feature#Extensibility' style='overflow: visible; text-align: left;')
            div(xmlns='http://www.w3.org/1999/xhtml' style='display: flex; align-items: unsafe center; justify-content: unsafe flex-start; width: 698px; height: 1px; padding-top: 87px; margin-left: 36px;')
              div(data-drawio-colors='color: #dddddd; ' style='box-sizing: border-box; font-size: 0px; text-align: left;')
                div(style='display: inline-block; font-size: 70px; font-family: Verdana; color: rgb(221, 221, 221); line-height: 1.2; pointer-events: all; white-space: normal; overflow-wrap: normal;')
                  b
                    font(style='font-size: 70px') SUBGROUPS
          text(x='36' y='108' fill='#dddddd' font-family='Verdana' font-size='70px') SUBGROUPS
      rect(x='38' y='132' width='350' height='40' fill='none' stroke='none' pointer-events='all')
      g(transform='translate(-0.5 -0.5)')
        switch
          foreignobject(pointer-events='none' width='100%' height='100%' requiredfeatures='http://www.w3.org/TR/SVG11/feature#Extensibility' style='overflow: visible; text-align: left;')
            div(xmlns='http://www.w3.org/1999/xhtml' style='display: flex; align-items: unsafe flex-start; justify-content: unsafe flex-start; width: 1px; height: 1px; padding-top: 135px; margin-left: 40px;')
              div(data-drawio-colors='color: #888888; ' style='box-sizing: border-box; font-size: 0px; text-align: left;')
                div(style='display: inline-block; font-size: 35px; font-family: Verdana; color: rgb(136, 136, 136); line-height: 1.2; pointer-events: all; white-space: nowrap;')
                  span NASIL KULLANILIR
          text(x='40' y='170' fill='#888888' font-family='Verdana' font-size='35px')
            | NASIL
            | KULLANILIR
      rect(x='421' y='573' width='280' height='40' fill='none' stroke='none' pointer-events='all')
      g(transform='translate(-0.5 -0.5)')
        switch
          foreignobject(pointer-events='none' width='100%' height='100%' requiredfeatures='http://www.w3.org/TR/SVG11/feature#Extensibility' style='overflow: visible; text-align: left;')
            div(xmlns='http://www.w3.org/1999/xhtml' style='display: flex; align-items: unsafe flex-start; justify-content: unsafe flex-start; width: 1px; height: 1px; padding-top: 576px; margin-left: 423px;')
              div(data-drawio-colors='color: #DDDDDD; ' style='box-sizing: border-box; font-size: 0px; text-align: left;')
                div(style='display: inline-block; font-size: 24px; font-family: Verdana; color: rgb(221, 221, 221); line-height: 1.2; pointer-events: all; font-weight: bold; white-space: nowrap;')
                  div(style='line-height: 150%') g&ouml;nderiler payla&scedil;&imath;n
          text(x='423' y='600' fill='#DDDDDD' font-family='Verdana' font-size='24px' font-weight='bold') g&ouml;nderiler payla&scedil;&imath;n
      rect(x='95' y='844' width='270' height='30' fill='none' stroke='none' pointer-events='all')
      g(transform='translate(-0.5 -0.5)')
        switch
          foreignobject(pointer-events='none' width='100%' height='100%' requiredfeatures='http://www.w3.org/TR/SVG11/feature#Extensibility' style='overflow: visible; text-align: left;')
            div(xmlns='http://www.w3.org/1999/xhtml' style='display: flex; align-items: unsafe flex-start; justify-content: unsafe flex-start; width: 1px; height: 1px; padding-top: 847px; margin-left: 97px;')
              div(data-drawio-colors='color: #DDDDDD; ' style='box-sizing: border-box; font-size: 0px; text-align: left;')
                div(style='display: inline-block; font-size: 24px; font-family: Verdana; color: rgb(221, 221, 221); line-height: 1.2; pointer-events: all; font-weight: bold; white-space: nowrap;')
                  div g&ouml;nderileri oylay&imath;n
          text(x='97' y='871' fill='#DDDDDD' font-family='Verdana' font-size='24px' font-weight='bold') g&ouml;nderileri oylay&imath;n
      rect(x='421' y='1071' width='250' height='110' fill='none' stroke='none' pointer-events='all')
      g(transform='translate(-0.5 -0.5)')
        switch
          foreignobject(pointer-events='none' width='100%' height='100%' requiredfeatures='http://www.w3.org/TR/SVG11/feature#Extensibility' style='overflow: visible; text-align: left;')
            div(xmlns='http://www.w3.org/1999/xhtml' style='display: flex; align-items: unsafe flex-start; justify-content: unsafe flex-start; width: 1px; height: 1px; padding-top: 1074px; margin-left: 423px;')
              div(data-drawio-colors='color: #DDDDDD; ' style='box-sizing: border-box; font-size: 0px; text-align: left;')
                div(style='display: inline-block; font-size: 24px; font-family: Verdana; color: rgb(221, 221, 221); line-height: 1.2; pointer-events: all; font-weight: bold; white-space: nowrap;')
                  div(style='line-height: 150%') gruplar&imath;n&imath;z&imath;n
                  div(style='line-height: 150%')
                    | i&ccedil;erisinde&nbsp;
                    span gruplar
                  div(style='line-height: 150%')
                    span olu&scedil;turun
          text(x='423' y='1098' fill='#DDDDDD' font-family='Verdana' font-size='24px' font-weight='bold') gruplar&imath;n&imath;z&imath;n...
      rect(x='95' y='1293' width='220' height='70' fill='none' stroke='none' pointer-events='all')
      g(transform='translate(-0.5 -0.5)')
        switch
          foreignobject(pointer-events='none' width='100%' height='100%' requiredfeatures='http://www.w3.org/TR/SVG11/feature#Extensibility' style='overflow: visible; text-align: left;')
            div(xmlns='http://www.w3.org/1999/xhtml' style='display: flex; align-items: unsafe flex-start; justify-content: unsafe flex-start; width: 1px; height: 1px; padding-top: 1296px; margin-left: 97px;')
              div(data-drawio-colors='color: #DDDDDD; ' style='box-sizing: border-box; font-size: 0px; text-align: left;')
                div(style='display: inline-block; font-size: 24px; font-family: Verdana; color: rgb(221, 221, 221); line-height: 1.2; pointer-events: all; font-weight: bold; white-space: nowrap;')
                  div(style='line-height: 150%') ba&scedil;ka gruplara
                  div(style='line-height: 150%') kat&imath;l&imath;n
          text(x='97' y='1320' fill='#DDDDDD' font-family='Verdana' font-size='24px' font-weight='bold') ba&scedil;ka gruplara...
      rect(x='95' y='399' width='290' height='40' fill='none' stroke='none' pointer-events='all')
      g(transform='translate(-0.5 -0.5)')
        switch
          foreignobject(pointer-events='none' width='100%' height='100%' requiredfeatures='http://www.w3.org/TR/SVG11/feature#Extensibility' style='overflow: visible; text-align: left;')
            div(xmlns='http://www.w3.org/1999/xhtml' style='display: flex; align-items: unsafe flex-start; justify-content: unsafe flex-start; width: 1px; height: 1px; padding-top: 402px; margin-left: 97px;')
              div(data-drawio-colors='color: #888888; ' style='box-sizing: border-box; font-size: 0px; text-align: left;')
                div(style='display: inline-block; font-size: 16px; font-family: Verdana; color: rgb(136, 136, 136); line-height: 1.2; pointer-events: all; white-space: nowrap;')
                  | yukar&imath;daki + simgesine t&imath;klayarak
                  br
                  | grubunuzu olu&scedil;turabilirsiniz
          text(x='97' y='418' fill='#888888' font-family='Verdana' font-size='16px')
            | yukar&imath;daki +
            | simgesine t&imath;klayarak...
      rect(x='421' y='656' width='310' height='80' fill='none' stroke='none' pointer-events='all')
      g(transform='translate(-0.5 -0.5)')
        switch
          foreignobject(pointer-events='none' width='100%' height='100%' requiredfeatures='http://www.w3.org/TR/SVG11/feature#Extensibility' style='overflow: visible; text-align: left;')
            div(xmlns='http://www.w3.org/1999/xhtml' style='display: flex; align-items: unsafe flex-start; justify-content: unsafe flex-start; width: 1px; height: 1px; padding-top: 659px; margin-left: 423px;')
              div(data-drawio-colors='color: #888888; ' style='box-sizing: border-box; font-size: 0px; text-align: left;')
                div(style='display: inline-block; font-size: 16px; font-family: Verdana; color: rgb(136, 136, 136); line-height: 1.2; pointer-events: all; white-space: nowrap;')
                  div daha sonra grubunuza giderek
                  div sayfan&imath;zdan grubunuza giderek
                  div g&ouml;nderiler kalem i&scedil;aretine t&imath;klayarak
                  div g&ouml;nderiler payla&scedil;&imath;n
          text(x='423' y='675' fill='#888888' font-family='Verdana' font-size='16px')
            | daha sonra
            | grubunuza giderek...
      rect(x='95' y='936' width='280' height='60' fill='none' stroke='none' pointer-events='all')
      g(transform='translate(-0.5 -0.5)')
        switch
          foreignobject(pointer-events='none' width='100%' height='100%' requiredfeatures='http://www.w3.org/TR/SVG11/feature#Extensibility' style='overflow: visible; text-align: left;')
            div(xmlns='http://www.w3.org/1999/xhtml' style='display: flex; align-items: unsafe flex-start; justify-content: unsafe flex-start; width: 1px; height: 1px; padding-top: 939px; margin-left: 97px;')
              div(data-drawio-colors='color: #888888; ' style='box-sizing: border-box; font-size: 0px; text-align: left;')
                div(style='display: inline-block; font-size: 16px; font-family: Verdana; color: rgb(136, 136, 136); line-height: 1.2; pointer-events: all; white-space: nowrap;')
                  div(style='line-height: 120%')
                    font(style='line-height: 120%')
                      div
                        | veya be&gbreve;enmediklerinizi a&scedil;a&gbreve;&imath; ok
                        br
                      div i&scedil;aretine t&imath;klayarak olumsuz
                      div oylay&imath;n
          text(x='97' y='955' fill='#888888' font-family='Verdana' font-size='16px')
            | veya
            | be&gbreve;enmediklerinizi a&scedil;a&gbreve;&imath; ok...
      rect(x='95' y='888' width='240' height='40' fill='none' stroke='none' pointer-events='all')
      g(transform='translate(-0.5 -0.5)')
        switch
          foreignobject(pointer-events='none' width='100%' height='100%' requiredfeatures='http://www.w3.org/TR/SVG11/feature#Extensibility' style='overflow: visible; text-align: left;')
            div(xmlns='http://www.w3.org/1999/xhtml' style='display: flex; align-items: unsafe flex-start; justify-content: unsafe flex-start; width: 1px; height: 1px; padding-top: 891px; margin-left: 97px;')
              div(data-drawio-colors='color: #888888; ' style='box-sizing: border-box; font-size: 0px; text-align: left;')
                div(style='display: inline-block; font-size: 16px; font-family: Verdana; color: rgb(136, 136, 136); line-height: 1.2; pointer-events: all; white-space: nowrap;')
                  | be&gbreve;endiklerinize yukar&imath; ok
                  br
                  | i&scedil;aretine t&imath;klayarak oy verin
          text(x='97' y='907' fill='#888888' font-family='Verdana' font-size='16px')
            | be&gbreve;endiklerinize
            | yukar&imath; ok...
      rect(x='421' y='1186' width='280' height='60' fill='none' stroke='none' pointer-events='all')
      g(transform='translate(-0.5 -0.5)')
        switch
          foreignobject(pointer-events='none' width='100%' height='100%' requiredfeatures='http://www.w3.org/TR/SVG11/feature#Extensibility' style='overflow: visible; text-align: left;')
            div(xmlns='http://www.w3.org/1999/xhtml' style='display: flex; align-items: unsafe flex-start; justify-content: unsafe flex-start; width: 1px; height: 1px; padding-top: 1189px; margin-left: 423px;')
              div(data-drawio-colors='color: #888888; ' style='box-sizing: border-box; font-size: 0px; text-align: left;')
                div(style='display: inline-block; font-size: 16px; font-family: Verdana; color: rgb(136, 136, 136); line-height: 1.2; pointer-events: all; white-space: nowrap;')
                  | kendi grubunuzun i&ccedil;erisinde yine
                  br
                  | + simgesine t&imath;klayarak grup
                  br
                  | olu&scedil;turabilirsiniz
          text(x='423' y='1205' fill='#888888' font-family='Verdana' font-size='16px')
            | kendi
            | grubunuzun i&ccedil;erisinde yine...
      rect(x='95' y='1411' width='250' height='80' fill='none' stroke='none' pointer-events='all')
      g(transform='translate(-0.5 -0.5)')
        switch
          foreignobject(pointer-events='none' width='100%' height='100%' requiredfeatures='http://www.w3.org/TR/SVG11/feature#Extensibility' style='overflow: visible; text-align: left;')
            div(xmlns='http://www.w3.org/1999/xhtml' style='display: flex; align-items: unsafe flex-start; justify-content: unsafe flex-start; width: 1px; height: 1px; padding-top: 1414px; margin-left: 97px;')
              div(data-drawio-colors='color: #888888; ' style='box-sizing: border-box; font-size: 0px; text-align: left;')
                div(style='display: inline-block; font-size: 16px; font-family: Verdana; color: rgb(136, 136, 136); line-height: 1.2; pointer-events: all; white-space: nowrap;')
                  | t&uuml;m gruplar&imath;n listeine &uuml;stteki
                  br
                  | butondan ula&scedil;abilirsiniz di&gbreve;er
                  br
                  | gruplara kat&imath;larak
                  |                     etkile&scedil;imde
                  br
                  | kal&imath;n
          text(x='97' y='1430' fill='#888888' font-family='Verdana' font-size='16px')
            | t&uuml;m gruplar&imath;n
            | listeine &uuml;stteki...
      path(d='M 312 686 L 238 686 Q 228 686 228 676 L 228 506 Q 228 496 238 496 L 382 496 Q 392 496 392 486 L 392 410' fill='none' stroke='#666666' stroke-width='2' stroke-miterlimit='10' pointer-events='stroke')
      ellipse(cx='315' cy='686' rx='3' ry='3' fill='#666666' stroke='#666666' stroke-width='2' pointer-events='all')
      ellipse(cx='392' cy='407' rx='3' ry='3' fill='#666666' stroke='#666666' stroke-width='2' pointer-events='all')
      path(d='M 237 629 L 237 561' fill='none' stroke='#666666' stroke-width='2' stroke-miterlimit='10' stroke-dasharray='2 2' pointer-events='stroke')
      ellipse(cx='237' cy='632' rx='3' ry='3' fill='none' stroke='#666666' stroke-width='2' pointer-events='all')
      ellipse(cx='237' cy='558' rx='3' ry='3' fill='none' stroke='#666666' stroke-width='2' pointer-events='all')
      path(d='M 255 505 L 264 505 Q 273 505 283 505 L 310 505 Q 320 505 330 505 L 390 505 Q 400 505 400 495 L 400 483' fill='none' stroke='#666666' stroke-width='2' stroke-miterlimit='10' stroke-dasharray='2 2' pointer-events='stroke')
      path(d='M 439 894 L 473 894 Q 483 894 483 884 L 483 803 Q 483 793 473 793 L 372 793 Q 362 793 362 783 L 362 733' fill='none' stroke='#666666' stroke-width='2' stroke-miterlimit='10' pointer-events='stroke')
      ellipse(cx='436' cy='894' rx='3' ry='3' fill='#666666' stroke='#666666' stroke-width='2' pointer-events='all')
      ellipse(cx='362' cy='730' rx='3' ry='3' fill='#666666' stroke='#666666' stroke-width='2' pointer-events='all')
      path(d='M 475 867 L 475 808' fill='none' stroke='#666666' stroke-width='2' stroke-miterlimit='10' stroke-dasharray='2 2' pointer-events='stroke')
      path(d='M 219 1123 L 219 1007 Q 219 997 229 997 L 290 997' fill='none' stroke='#666666' stroke-width='2' stroke-miterlimit='10' stroke-dasharray='2 2' pointer-events='stroke')
      path(d='M 311 1179 L 237 1179 Q 227 1179 227 1169 L 227 1014 Q 227 1004 237 1004 L 381 1004 Q 391 1004 391 994 L 391 951' fill='none' stroke='#666666' stroke-width='2' stroke-miterlimit='10' pointer-events='stroke')
      ellipse(cx='314' cy='1179' rx='3' ry='3' fill='#666666' stroke='#666666' stroke-width='2' pointer-events='all')
      ellipse(cx='391' cy='948' rx='3' ry='3' fill='#666666' stroke='#666666' stroke-width='2' pointer-events='all')
      path(d='M 438 1399 L 472 1399 Q 482 1399 482 1389 L 482 1298 Q 482 1288 472 1288 L 371 1288 Q 361 1288 361 1278 L 361 1228' fill='none' stroke='#666666' stroke-width='2' stroke-miterlimit='10' pointer-events='stroke')
      ellipse(cx='435' cy='1399' rx='3' ry='3' fill='#666666' stroke='#666666' stroke-width='2' pointer-events='all')
      ellipse(cx='361' cy='1225' rx='3' ry='3' fill='#666666' stroke='#666666' stroke-width='2' pointer-events='all')
      path(d='M 471 1372 L 471 1317' fill='none' stroke='#666666' stroke-width='2' stroke-miterlimit='10' stroke-dasharray='2 2' pointer-events='stroke')
      ellipse(cx='471' cy='1375' rx='3' ry='3' fill='none' stroke='#666666' stroke-width='2' pointer-events='all')
      ellipse(cx='471' cy='1314' rx='3' ry='3' fill='none' stroke='#666666' stroke-width='2' pointer-events='all')
      ellipse(cx='391' cy='360' rx='33' ry='33' fill='none' stroke='#666666' stroke-width='2' pointer-events='none')
      ellipse(cx='391' cy='360' rx='28.999999999999996' ry='28.999999999999996' fill='#666666' stroke='none' pointer-events='none')
      image(x='366.5' y='335.5' width='48' height='48' xlink:href='https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-plus-round-128.png' preserveaspectratio='none' pointer-events='none')
      ellipse(cx='362' cy='685' rx='33' ry='33' fill='none' stroke='#666666' stroke-width='2' pointer-events='none')
      ellipse(cx='362' cy='685' rx='28.999999999999996' ry='28.999999999999996' fill='#666666' stroke='none' pointer-events='none')
      image(x='342.5' y='665.5' width='38' height='38' xlink:href='https://cdn1.iconfinder.com/data/icons/100-basic-for-user-interface/32/27-pen-128.png' preserveaspectratio='none' pointer-events='none')
      ellipse(cx='391' cy='895' rx='33' ry='33' fill='none' stroke='#666666' stroke-width='2' pointer-events='none')
      ellipse(cx='391' cy='895' rx='28.999999999999996' ry='28.999999999999996' fill='#666666' stroke='none' pointer-events='none')
      image(x='361.5' y='876' width='37' height='37' xlink:href='https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-arrow-up-c-128.png' preserveaspectratio='none' pointer-events='none')
      image(x='382.5' y='876' width='37' height='37' xlink:href='https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-arrow-up-c-128.png' preserveaspectratio='none' transform='rotate(-180,401.5,895)' pointer-events='none')
      ellipse(cx='362' cy='1179' rx='33' ry='33' fill='none' stroke='#666666' stroke-width='2' pointer-events='none')
      ellipse(cx='362' cy='1179' rx='28.999999999999996' ry='28.999999999999996' fill='#666666' stroke='none' pointer-events='none')
      ellipse(cx='391' cy='1398' rx='33' ry='33' fill='none' stroke='#666666' stroke-width='2' pointer-events='none')
      ellipse(cx='391' cy='1398' rx='28.999999999999996' ry='28.999999999999996' fill='#666666' stroke='none' pointer-events='none')
      path(d='M 402.82 1379.95 C 404.51 1379.95 405.16 1380.44 405.69 1381.01 C 406.41 1381.79 406.43 1383.01 406.24 1383.71 C 406.68 1383.65 406.65 1384.26 406.59 1384.72 C 406.51 1385.25 406.04 1385.79 405.72 1385.75 C 405.53 1386.23 405.26 1386.72 405.09 1386.99 C 404.92 1387.25 404.92 1387.62 404.87 1387.88 C 406.1 1388.02 407.35 1388.39 408.73 1388.77 C 409.42 1388.93 409.8 1389.46 409.91 1390.08 C 410.26 1391.7 410.68 1393.35 410.92 1394.94 C 411.12 1396.33 410.92 1397.24 410.58 1397.84 C 410.04 1398.82 409.04 1400.82 408.72 1401.71 C 408.37 1402.56 408.05 1403.19 407.47 1403.35 L 406.92 1417.29 L 407.74 1417.76 C 407.93 1417.89 407.99 1417.99 407.99 1418.27 C 407.99 1418.77 407.48 1419 407.16 1419 L 404.04 1418.99 C 403.69 1418.99 403.45 1418.95 403.45 1418.63 C 403.43 1418.25 403.55 1417.81 403.63 1417.35 L 402.9 1407.59 L 402.15 1417.42 C 402.21 1417.83 402.31 1418.38 402.31 1418.6 C 402.31 1418.8 402.23 1418.99 401.84 1418.99 L 398.85 1418.99 C 398.39 1418.99 397.92 1418.91 397.86 1418.42 C 397.8 1418.01 397.88 1417.84 398.17 1417.68 L 398.87 1417.31 L 398.28 1403.26 C 398.49 1402.89 398.71 1402.44 399.03 1401.73 L 401.2 1396.52 C 401.8 1394.95 401.9 1394.13 401.69 1392.55 L 400.94 1387.94 L 400.81 1387.15 C 400.54 1386.8 400.3 1386.4 400.07 1385.74 C 399.81 1385.88 399.44 1385.38 399.23 1384.88 C 399.08 1384.5 398.9 1383.6 399.57 1383.7 C 399.35 1383.06 399.01 1382.23 400.14 1380.99 C 400.8 1380.31 401.28 1379.95 402.82 1379.95 Z M 379.17 1379.95 C 377.48 1379.95 376.83 1380.44 376.3 1381.01 C 375.58 1381.79 375.56 1383.01 375.75 1383.71 C 375.3 1383.65 375.34 1384.26 375.4 1384.72 C 375.48 1385.25 375.95 1385.79 376.27 1385.75 C 376.45 1386.23 376.73 1386.72 376.9 1386.99 C 377.07 1387.25 377.07 1387.62 377.12 1387.88 C 375.88 1388.02 374.63 1388.39 373.25 1388.77 C 372.56 1388.93 372.19 1389.46 372.08 1390.08 C 371.73 1391.7 371.31 1393.35 371.07 1394.94 C 370.87 1396.33 371.07 1397.24 371.4 1397.84 C 371.95 1398.82 372.95 1400.82 373.27 1401.71 C 373.62 1402.56 373.94 1403.19 374.52 1403.35 L 375.06 1417.29 L 374.25 1417.76 C 374.06 1417.89 374 1417.99 374 1418.27 C 374 1418.77 374.51 1419 374.82 1419 L 377.95 1418.99 C 378.3 1418.99 378.54 1418.95 378.54 1418.63 C 378.55 1418.25 378.44 1417.81 378.36 1417.35 L 379.09 1407.59 L 379.83 1417.42 C 379.78 1417.83 379.68 1418.38 379.68 1418.6 C 379.68 1418.8 379.76 1418.99 380.15 1418.99 L 383.14 1418.99 C 383.6 1418.99 384.07 1418.91 384.13 1418.42 C 384.19 1418.01 384.11 1417.84 383.82 1417.68 L 383.12 1417.31 L 383.71 1403.26 C 383.5 1402.89 383.28 1402.44 382.96 1401.73 L 380.79 1396.52 C 380.19 1394.95 380.09 1394.13 380.3 1392.55 L 381.05 1387.94 L 381.18 1387.15 C 381.44 1386.8 381.68 1386.4 381.91 1385.74 C 382.18 1385.88 382.55 1385.38 382.76 1384.88 C 382.91 1384.5 383.08 1383.6 382.42 1383.7 C 382.63 1383.06 382.97 1382.23 381.84 1380.99 C 381.19 1380.31 380.71 1379.95 379.17 1379.95 Z M 391.08 1377 C 389.26 1377 388.56 1377.54 387.99 1378.15 C 387.22 1378.98 387.19 1380.29 387.4 1381.04 C 386.92 1380.98 386.96 1381.64 387.03 1382.13 C 387.12 1382.69 387.62 1383.28 387.96 1383.23 C 388.16 1383.75 388.45 1384.27 388.64 1384.57 C 388.82 1384.85 388.82 1385.23 388.87 1385.52 C 387.55 1385.68 386.2 1386.07 384.72 1386.48 C 383.98 1386.66 383.59 1387.22 383.46 1387.89 C 383.08 1389.63 382.63 1391.39 382.38 1393.11 C 382.16 1394.61 382.38 1395.58 382.73 1396.22 C 383.32 1397.28 384.39 1399.43 384.74 1400.38 C 385.12 1401.3 385.46 1401.98 386.08 1402.14 L 386.67 1417.11 L 385.79 1417.62 C 385.58 1417.76 385.52 1417.87 385.52 1418.17 C 385.52 1418.71 386.07 1418.95 386.41 1418.95 L 389.77 1418.94 C 390.14 1418.94 390.39 1418.9 390.39 1418.56 C 390.42 1418.15 390.3 1417.68 390.2 1417.17 L 390.99 1406.7 L 391.79 1417.26 C 391.73 1417.69 391.62 1418.28 391.63 1418.52 C 391.62 1418.74 391.71 1418.94 392.13 1418.94 L 395.34 1418.94 C 395.83 1418.94 396.35 1418.85 396.41 1418.32 C 396.46 1417.89 396.38 1417.71 396.08 1417.53 L 395.32 1417.13 L 395.89 1402.13 C 396.41 1402.11 396.67 1401.65 396.89 1401.2 C 397.71 1399.43 398.53 1397.58 399.28 1396.14 C 399.6 1395.48 399.83 1394.85 399.63 1393.33 C 399.5 1391.98 398.95 1389.81 398.52 1387.88 C 398.41 1387.23 398.1 1386.75 397.5 1386.55 C 396.03 1386.11 394.59 1385.72 393.2 1385.53 L 393.23 1384.74 C 393.52 1384.36 393.78 1383.93 394.03 1383.22 C 394.31 1383.37 394.71 1382.84 394.93 1382.3 C 395.09 1381.9 395.29 1380.92 394.57 1381.03 C 394.8 1380.34 395.16 1379.46 393.95 1378.12 C 393.25 1377.39 392.73 1377 391.08 1377 Z M 391.02 1388.53 L 392.42 1391.24 L 395.69 1391.73 L 393.28 1394.14 L 394.07 1397.32 L 390.92 1395.62 L 388.05 1397.29 L 388.7 1394.07 L 386.17 1391.7 L 389.57 1391.29 Z' fill='#282828' stroke='none' pointer-events='none')
      ellipse(cx='354.5' cy='1170.5' rx='2.5' ry='2.5' fill='#282828' stroke='none' pointer-events='none')
      ellipse(cx='376.5' cy='1174.5' rx='2.5' ry='2.5' fill='#282828' stroke='none' pointer-events='none')
      ellipse(cx='369.5' cy='1187.5' rx='2.5' ry='2.5' fill='#282828' stroke='none' pointer-events='none')
      ellipse(cx='347.5' cy='1183.5' rx='2.5' ry='2.5' fill='#282828' stroke='none' pointer-events='none')
      path(d='M 350 1171.5 L 359 1171.5 L 363.5 1179 L 359 1186.5 L 350 1186.5 L 345.5 1179 Z' fill='none' stroke='#282828' stroke-miterlimit='10' transform='rotate(90,354.5,1179)' pointer-events='none')
      path(d='M 365 1171.5 L 374 1171.5 L 378.5 1179 L 374 1186.5 L 365 1186.5 L 360.5 1179 Z' fill='none' stroke='#282828' stroke-miterlimit='10' transform='rotate(90,369.5,1179)' pointer-events='none')
      path(d='M 369 1162 L 369.24 1170.16' fill='none' stroke='#282828' stroke-miterlimit='10' pointer-events='none')
      path(d='M 355 1188 L 355 1196' fill='none' stroke='#282828' stroke-miterlimit='10' pointer-events='none')
      path(d='M 377 1183 L 383 1187' fill='none' stroke='#282828' stroke-miterlimit='10' pointer-events='none')
      path(d='M 341 1171 L 347 1175' fill='none' stroke='#282828' stroke-miterlimit='10' pointer-events='none')
    switch
      g(requiredfeatures='http://www.w3.org/TR/SVG11/feature#Extensibility')
      a(transform='translate(0,-5)' xlink:href='https://www.diagrams.net/doc/faq/svg-export-text-problems' target='_blank')
        text(text-anchor='middle' font-size='10px' x='50%' y='100%') Text is not SVG - cannot display
