extends ../base.pug

block content
 .container
  
  .card.bg-dark.text-white
    img.card-img(src='/images/4a92b316e7f080d403f893a4f09a6574' alt='...')
    .card-img-overlay
      h5.card-title Card title
      p.card-text
        | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
      p.card-text Last updated 3 mins ago

  .row.mt-2
    .col-md-12
      .card.text-center
        h5.card-title='🔥 Popüler gruplar 🔥'
        .card-body
          a(href='/group/1') main
          br
          a(href='text center') text center
          br
          a(href='text center') text center
          br
          a(href='text center') text center
          br
          a(href='text center') text center
  .row.mt-2
    .col-md-6
      .card
        h5.card-title='İstatistikler'
        .card-body
          | text center
    .col-md-6
      .card
        h5.card-title='Haftanın Enleri'
        .card-body
          | text center
  .row.mt-2
    .col-md-12
      .card
        .card-body
          | giris yap goneri gonder
  .row.mt-2
    .col-md-12
      .card
        .card-body
          | text center