extends ../base.pug

block content
  .row.login-container.mw-100.ms-0
    .col-lg-10.col-xl-9.mx-auto.mt-1
      .card.flex-row.my-2.border-0.shadow.rounded-3.overflow-hidden
        .card-img-left-register.d-none.d-md-flex
        .card-body.p-4.p-sm-5
          h5.card-title.text-center.mb-5.fw-light.fs-5 Kayıt ol
          form(action='' method='post')
            .form-floating.mb-3
              input#floatingInputUsername.form-control(type='text' placeholder='myusername' name='username' required='' autofocus='')
              label(for='floatingInputUsername') Kullan&imath;c&imath; ad&imath;
            .form-floating.mb-3
              input#floatingInputEmail.form-control(type='email' name='email' placeholder='birisi@example.com')
              label(for='floatingInputEmail') E-posta adresi
            hr
            .form-floating.mb-3
              input#floatingPassword.form-control(type='password' placeholder='Password' name='password' minlength='8' maxlength='15')
              label(for='floatingPassword') Parola
            .form-floating.mb-3
              input#floatingPasswordConfirm.form-control(type='password' placeholder='Confirm Password' minlength='8' name='passwordagain')
              label(for='floatingPasswordConfirm') Parolay&imath; yeniden girin
            .d-grid.mb-2
              button.btn.btn-lg.btn-primary.btn-login.fw-bold.text-uppercase(type='submit') Kay&imath;t Ol
            a.d-block.text-center.mt-2.small(href='/login/')
              | Zaten bir hesab&imath;n&imath;z var m&imath;?
              | Giri&scedil;
              | yap&imath;n.
            a.d-block.text-center.mt-2.small(href='/getnewpassword/') &Scedil;ifremi unuttum