extends ../base.pug

block content
	if is_authenticated
		.container.col-12
			if posts
				each post in posts
					+thumbnail(post,true)
	else
		p you are not authenticated please
		a(href="/login/") log in
	ul todo
		li err handle sql queries
		li photos for users
		li edit pages for users
		li home page
		li following subgroups utility
		li change bootstrap 5.3
		li messages for pages