extends ../base.pug

block content
	.row.mt-2.justify-content-center
		.col-6
			.wrap.text-center
				.p-4.p-md-5
					.d-flex.w-100
						h3.mb-4 Sign up
					form.signin-form(method='post')
						.form-group.mb-2
							label.label(for='name') Username
							input.form-control(type='text' name='username' placeholder='Username' required='')
						.form-group.mb-2
							label.label(for='password') Password
							input.form-control(type='password' name='password' placeholder='Password' required='')
						.form-group.mb-2
							label.label(for='password') Email
							input.form-control(type='email' name='email' placeholder='Email' required='')
						.form-group
							button.form-control.btn.btn-primary.rounded.submit.px-3(type='submit') Sign Up
						.form-group.d-md-flex
							.w-100.text-md-right
								a(href='#') Forgot Password
					p.text-center
						| Already a member? 
						a(href='/login') Log in
	//- form(method='post')
	//- 	input#usrname(type='text' name='username' placeholder='username' required)
	//- 	br
	//- 	input#usrpass(type='password' name='password' placeholder='password' required)
	//- 	br
	//- 	input#usremail(type='email' name='email' placeholder='email' required)
	//- 	br
	//- 	input(type='submit' value='signin')

